@import "../../scss/colors.scss";

.phones {
  position: relative;

  &__item {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    text-align: right;
    color: #363435;
    white-space: nowrap;
    transition: 0.2s;

    @media screen and (max-width: 1260px) {
      font-size: 22px;
    }

    @media screen and (max-width: 1120px) {
      font-size: 16px;
    }

    @media screen and (max-width: 992px) {
      font-size: 14px;
    }

    @media screen and (max-width: 769px) {
      font-size: 16px;
      justify-content: center;
    }

    &:hover {
      color: $violet;
    }
  }
}
