@import "../../scss/colors.scss";

.portfolio {
  &__img {
    position: absolute;
    z-index: -1;

    &--left {
      left: 0;
      top: -250px;

      @media screen and (max-width: 1441px) {
        width: 400px;
        height: auto;
        top: -100px;
      }
      @media screen and (max-width: 992px) {
        top: -50px;
        width: 300px;
      }
      @media screen and (max-width: 769px) {
        display: none;
      }
    }

    &--right {
      right: 0;
      top: 0;

      @media screen and (max-width: 1441px) {
        width: 320px;
        height: auto;
      }
      @media screen and (max-width: 992px) {
        display: none;
      }
    }
  }

  &__text {
    font-size: 20px;
    padding: 25px 0;
    border-top: 2px solid $violet;
    border-bottom: 2px solid $violet;
    margin-bottom: 60px;

    @media screen and (max-width: 1441px) {
      margin-bottom: 45px;
      padding: 15px 0;
    }
    @media screen and (max-width: 992px) {
      font-size: 18px;
      margin-bottom: 30px;
      padding: 10px 0;
    }
    @media screen and (max-width: 769px) {
      font-size: 16px;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
