@import "../../scss/colors.scss";

.footer {
  background: left bottom no-repeat url("../img/footer-bg-left.png"), right bottom no-repeat url("../img/footer-bg-right.png");
  background-size: auto;
  padding: 60px 30px;

  @media screen and (max-width: 992px) {
    background: left bottom / auto 100px  no-repeat url("../img/footer-bg-left.png"), right bottom / auto 100px no-repeat url("../img/footer-bg-right.png");
  }

  @media screen and (max-width: 769px) {
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background: none;
  }
  
  &__text {
    font-size: 24px;
    line-height: 120%;
    text-align: center;

    @media screen and (max-width: 1270px) {
      font-size: 20px;
    }
    @media screen and (max-width: 992px) {
      font-size: 18px;
    }
    @media screen and (max-width: 769px) {
      font-size: 16px;
    }
    @media screen and (max-width: 576px) {
      font-size: 14px;
    }

    & a{
      color: inherit;
      display: block;
      cursor: pointer;
      text-decoration: none;
      width: fit-content;
      margin: 0 auto;

      &:hover{
        color: $violet;
      }
    }
  }
}
