@import "./colors";

.btn {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  height: 60px;
  box-sizing: border-box;

  border-radius: 5px;

  font-weight: 900;
  font-size: 20px;
  line-height: 120%;

  transition: 0.3s;
  white-space: nowrap;

  backdrop-filter: blur(2px);
  position: relative;

  @media screen and (max-width: 1401px) {
    font-size: 18px;
    height: 55px;
  }

  @media screen and (max-width: 769px) {
    font-size: 16px;
    height: 50px;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 100%;
    transition: 0.3s;
    z-index: -1;
    left: 0;
  }

  &--blue {
    background: rgba(247, 241, 255, 0.36);
    border: 3px solid $blue;
    color: $blue;

    &:before {
      background-color: $blue;
    }

    &:hover {
      color: $white;
      &:before {
        width: 100%;
      }
    }
  }

  &--violet {
    background: rgba(247, 241, 255, 0.35);
    border: 3px solid $violet;
    color: $violet;

    &:before {
      background-color: $violet;
    }

    &:hover {
      color: $white;
      &:before {
        width: 100%;
      }
    }
  }

  &--blue-full {
    background: $blue;
    border: 3px solid $blue;
    color: $white;

    &:hover {
      color: $blue;
      background-color: transparent;
    }
  }
}
