@import "../../scss/colors.scss";

.mobile {
  display: none;

  @media screen and (max-width: 769px) {
    width: 100%;
    height: calc(100vh - 90px);
    top: 90px;
    display: flex;
    background-color: #F7F1FF;
    position: fixed;
    padding: 15px;
    box-sizing: border-box;
    z-index: 99;
    transition: 0.2s;
    right: 0;
    transform: translateX(100%);
  }

  &.active{
    transform: translateX(0);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 25px;
  }
}

