@import "../../scss/colors.scss";

.wpcf7-form {

  & p {
    margin: 0;
  }
}

input.form__submit {
  background: #0038FF;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  height: 60px;
  box-sizing: border-box;

  border-radius: 5px;

  font-weight: 900;
  font-size: 20px;
  line-height: 120%;

  transition: 0.3s;
  white-space: nowrap;

  backdrop-filter: blur(2px);
  position: relative;

  @media screen and (max-width: 1401px) {
    font-size: 18px;
    height: 55px;
  }

  @media screen and (max-width: 992px) {
    font-size: 16px;
    height: 50px;
    padding: 10px;
  }

  background: $blue;
  border: 3px solid $blue;
  color: $white;

  &:hover {
    color: $blue;
    background-color: transparent;
    border: 3px solid $blue;
  }
}

input.form__input{
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #7700FF;
  backdrop-filter: blur(2px);
  border-radius: 5px;
  padding: 17px 20px;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  box-sizing: border-box;

  font-size: 20px;
  color: rgba(54, 52, 53, 0.5);
  cursor: pointer;

  @media screen and (max-width: 992px) {
    font-size: 18px;
    height: 55px;
    padding: 15px 20px;
  }
  @media screen and (max-width: 769px) {
    font-size: 16px;
    height: 50px;
    padding: 12px 20px;
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(54, 52, 53, 0.5);

    @media screen and (max-width: 992px) {
      font-size: 18px;
    }
    @media screen and (max-width: 769px) {
      font-size: 16px;
    }
  }
}

span.wpcf7-form-control-wrap{
  display: block;

  &:not(:last-child) {
    margin-bottom: 20px;

    @media screen and (max-width: 992px) {
      margin-bottom: 15px;
    }
  }
}